.search_area{
	background: #89a3f1;
    padding: 24px 0;
    text-align: center;
    position:relative;
    border-radius:3px 3px 0 0;
    .code_bar{
    	border-radius:5px 5px 0 0;
    }
    .code_bar_last{
    	border-radius:0 0 5px 5px;
    }
    form{
	    input{
	    	display: block;
		    margin: 0 auto;
		    width: 380px;
		    height: 44px;
		    border: none;
		    line-height:44px;
		    padding:0 20px;
		    color:#616161;
		    resize:none;
		    overflow:hidden;
		    border-radius:5px;
		    &:first-child{
		    	border-bottom:1px solid #eeeeee;
		    }
		    &:focus{
		    	border-color:none;
		    }
		    
		}
	    ::-webkit-input-placeholder {
	   		color: red;
		    opacity: 1; /* Firefox */
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color: red;
		}
		::-ms-input-placeholder { /* Microsoft Edge */
		   color: red;
		}
		
	}
    i{
    	position: absolute;
	    top: 78px;
	    right: 360px;
	    font-size:28px;
	    color: #fff;
    }
    .pan_i{
    	top:34px;
    }
}
.result_wrapper{
	background:#fafafa;
    padding: 20px 40px 40px;
    margin-bottom:91px;
    border-radius:0 0 3px 3px;
    p{
    	line-height:22px;
    	padding:25px 0;
    }
    .photo_area{
    	margin-top:8px;
    }
    .result_count{
	   	padding: 20px 0;
	    font-weight:500;
	    display:inline-block;
	    span{
	    	color:#6385ec;
	    }
	}
    .upper{
    	border-bottom: 1px solid #eeeeee;
	    .list_search{
	    	float:right;
	    	.list_search_wrapper{
	    		margin-top: 6px;
    			position: relative;
	    	}
	    	input{
	    		height: 34px;
			    line-height: 34px;
			    width: 200px;
			    border-radius: 5px;
			    border: 1px solid #eeeeee;
			    padding: 3px 15px 0;
			    color: #9e9e9e;
			    font-size: 13px;
	    	}
	    	i{
	    		position: absolute;
			    top: 5px;
			    right: 8px;
			    font-size: 22px;
			    color: #9e9e9e;
	    	}
	    }
	}
    .card_title{
   	    padding: 16px 15px;
   	    font-weight:500;
    }
    .code_card{
    	background-color: #fff;
	    padding: 15px 15px;
	    border-radius: 6px;
	    border: 1px solid #eeeeee;
	    margin-bottom:5px;
	    &.notice_card{
	    	background-color:#fafafa;
	    	a{
	    		border:none;
	    		color:#616161;
	    		padding:0;
	    	}
	    }
	    .name_1{
	    	font-weight:500;
	    }
	    .code_btn{
	    	color: #6385ec;
		    border: 1px solid #6385ec;
		    padding: 5px 14px;
		    border-radius: 5px;
		    margin-right: 2px;
	    }
	    div:last-child{
	    	text-align:right;
	    }
	    .le{
	    	text-align:left!important;
	    }
	    .btn_area{
	    	text-align:left;
	    	position:relative;
		    .btn_wrap{
		    	position: absolute;
			    right: 0;
			    top: -6px;
			    border: 1px solid #6385ec;
			    padding: 5px 10px;
			    border-radius: 5px;
			    margin-right: 0;
			    width: 82px;
			    a{
			    	color:#6385ec;
			    }
			    i{
			   	font-size: 20px;
			   	margin-right: 5px;
			   	margin-top: 5px;
			   	position: absolute;
			   	left: 8px;
			   	top: 0px;
			   	color:#6385ec;
				}
			}
		}
	}
	ul{
		text-align:right;
		margin-top:20px;
		li{
			display:inline-block;
			width: 28px;
		    height: 30px;
		    line-height: 30px;
		    text-align:center;
		    border-radius:5px;
		    a{
		    	color:#757575;
		    }
		    i{
		        float: left;
				margin-top: 14px;
				color:#9e9e9e;
		    }
			&.active{
			    background: #89a3f1;
			    a{
			    	color:#fff;
			    }
			}
		}
	}
}
.id_notice{
	background:#fff;
	padding:0;
	margin-top:35px;
}
#notice{
	.manage_tab{
		margin-top:45px;
		ul{
			li{
				display: inline-block;
			    padding: 0px 15px;
			    border: 1px solid #bdbdbd;
			    border-radius: 5px;
			    margin-right: 2px;
			    height:32px;
			    line-height:31px;
			    a{
			    	color:#9e9e9e;
			    }
			}
			.active{
			   	border:1px solid #6385ec;
			   	a{
			   		color:#6385ec;
			   	}
			}
		}
	}
}
