#index{
	background: #fafafa;
	min-height:100vh;
	.main_banner{
		margin-bottom:20px;
		.main_img{
			width:1186px;
		}
		.container{
			background-image: url('../img/able.png');
			.col-xs-3{
				width:22%;
			}
		}
		ul{
			padding:0;
			margin:0;
			margin-top:32px;
			list-style:none;
			float:right;
			a{
				color:#fff;
				li{
					width:210px;
					height:210px;
					text-align: center;
					border-radius:8px;
					background: #a3acfd;
					&:hover{
						background:#7e8bff;
						transition:.5s;
						transition-timing-function:ease-out;
					}
					p{
						font-size:24px;
						text-align: center;
						position: relative;
						top:50px;
						font-weight:400;
					}
					i{
						font-size:70px;
						margin-top:45px;
					}
				}
				.first_btn{
					margin-bottom:15px;
				}
				.last_btn{
					margin-bottom:32px;
				}
			}
		}
	}
	.prefer_purchase{
		margin-bottom:40px;
		.inner{
			background: #fff;
			overflow: hidden;
			padding:30px 30px;
			border:1px solid #eee;
			border-radius:8px;
			.context{
				padding:35px 10px;
				h3{
					margin-bottom:28px;
					font-size:1.35rem;
					font-weight:500;
					span{
						margin-left:20px;
						a.btn{
							position: relative;
							top:-2px;
							
						}
					}
				}
				p{
					font-size:15px;
					line-height:1.6;
					font-weight:300;
				}
			}
			.logo_wrapper{
				h4{
					font-size:15px;
					margin-bottom:15px;
					font-weight:500;
				}
				.jiwon{
					padding-top:5px!important;
				}
				.img_wrapper{
					background: rgba(250,250,250,1);
					background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, #f5f5f5 100%);
					background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, #f5f5f5 100%);
					background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, #f5f5f5 100%);
					background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, #f5f5f5 100%);
					background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, #f5f5f5 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ededed', GradientType=0 );
					@extend .box-shadow;
					height:175px;
					width:175px;
					padding-top:15px;
					border-radius:8px;
					h5{
						font-weight: 400;
						small{
						    font-size: 12px;
    						line-height: 16px;
						}
					}
					h5.first{
						margin-top: 2px;
					    font-size: 17px;
					    color: #8e9fff;
					}
				}
			}
		}
	}
	.notice_wrapper{
		margin-bottom:40px;
		h4{
			font-size:17px;
			padding-left: 5px;
			font-weight:500;
		}
		h4 span{
			margin-left:20px;
			a{
				position: relative;
				top:-1px;
			}
		}
		ul{
			list-style:none;
			padding:0;
			margin-top:20px;
			li{
				margin-bottom: 6px;
				margin-right:10px;
			    background: #fff;
			    padding: 15px 13px;
			    border-radius: 5px;
			    border: 1px solid #eeeeee;
				span{
					font-size:12px;
					color:#919191;
					display: inline-block;
					&.l_1{
						width:48px;
						text-align: center;
						&.em{
							color:#7f7bff;
							font-weight:bold;
						}
					}
					&.l_2{
						color:#757575;
						font-size:14px;
					}
					&.l_3{
						float:right;
						width:80px;
						text-align: right;
					}
				}
			}
		}
		.notice_box{
			border-radius:8px;
			background: #efefef;
			.title{
				background: #616161;
			    color: #fafafa;
			    text-align: center;
			    padding: 13px 10px;
			    font-size: 17px;
			    font-weight:400;
			    border-radius: 8px 8px 0 0;
			}
			.body{
				padding:54px 15px 54px 18px;
				.row{
					margin-bottom:0;
				}
				a{
					text-align: center;
				    background: #fff;
				    display: block;
				    overflow: hidden;
				    height: 175px;
				    width: 175px;
				    padding-top: 15px;
				    border-radius: 8px;
					@extend .box-shadow;
					p{
					    font-size: 17px;
					    padding-top: 5px;
    					color: #757575;
					}
				}
			}
		}
	}
	.photo_board{
		padding-bottom:45px;
		h4{
			font-size:17px;
			margin-bottom:10px;
			padding-left: 5px;
			font-weight:500;
		}
		h4 span{
			margin-left:20px;
			a{
				position: relative;
				top:-1px;
			}
		}
	}
}