#system_intro{
	font-weight:300;
	b{
		font-weight:500;
	}
	.title_sub{
		font-size: 16px;
	    margin-bottom: 40px;
	    padding-top: 20px;
	    font-weight: 600;
	    &.nar{
			margin-bottom:25px;
			padding-top:0px;
		}
	}
	.exp_img{
		text-align:center;
		padding-top:30px;
	}
	.gap_s{
		margin-bottom:18px;
		span{
			font-weight:500;
			font-size:13px;
		}
	}
	.title{
		position: relative;
	    background-image: url(../img/sys_intro_img.png);
	    background-repeat: no-repeat;
	    background-position: right top;
	    height: 265px;
	    border-bottom: 1px solid #eeeeee;
	    margin-bottom:20px;
		h4{
			position:absolute;
			bottom:22px;
			font-size:32px;
			font-weight:500;
		}
	}
	.group_btn_intro{
		margin-bottom:110px;
		.btn_intro{
		    color: #9e9e9e;
		    border: 1px solid #bdbdbd;
		    display: inline-block;
		    height: 32px;
		    line-height: 31px;
		    padding: 0 12px;
		    font-size: 14px;
		    border-radius: 5px;
		    margin-right: 2px;
		    a{
		    	color:#9e9e9e;
		    }
		    &.active{
		    	color: #6385ec;
		    	border: 1px solid #6385ec;
		    	font-weight:500;
		    }
		}
	}
	.content{
		padding-bottom:80px;
		.text_l{
			font-size:15px;
			margin-bottom:90px;
		}
		.text_s{
			font-size:14px;
			.t_sec{
				margin-bottom:70px;
				hr{
					width: 12px;
				    background-color: #6f90f5;
				    height: 1px;
				    margin-bottom: 20px;
				    border: none;
				}
				h1{
					font-size:14px;
					margin-bottom:15px;
					font-weight:500;
				}
				p{
					line-height:25px;
				}
			}
			.em{
				padding-top:30px;
				font-weight:400;
			}

		}
		.intro_2_img{
			margin:70px 0 30px;
			h1{
				font-size: 15px;
				font-weight:500;
				line-height:24px;
    			margin-bottom: 15px;
			}
			p{
				line-height:24px;
			}
			&.gap{
				margin-bottom:95px;
			}
		}
		.t_box{
			border: 1px solid #e0e0e0;
		    display: inline-block;
		    padding: 16px 25px;
		    margin-top: 20px;
		    line-height: 22px;
		    border-radius:5px;
		    font-size:14px;
		    .box_title{
				font-weight:500;
				margin-bottom:8px;
		    }
		}
	}
//---------table-----
	td, th{
		padding: 15px 24px;
	    border: 1px solid #eeeeee;
	    min-width: 150px;
	    font-size: 14px;
	    line-height: 24px;
	}
	th{
		font-weight:500;
	}

//---------store_introduce----
	.hang_title{
	    margin-top: 80px;
	    font-size: 19px;
	    line-height: 31px;
	    font-weight:300;
	    span{
	    	color:#6385ec;
	    	font-weight:400;
	    }
	}
	hr{
		width: 40px;
	    height: 1px;
	    background: #e0e0e0;
	    border: none;
	    margin: 25px 0;
	}
	.hang_text{
		font-size:14px;
		line-height:23px;
		margin-bottom:100px;
		font-weight:300;
	}
	.str{
		display:inline-block;
		margin-top:80px;
		&.no-mar{
			margin-top:0px;
		}
		.hang_title_sub{
			span{
				margin-left:30px;
				b{
					color:#FF884B!important;
				}
			}
		}
		.store_img{
			display:inline-block;
			width: 440px;
		    height: 280px;
		    background: #eeeeee;
		    margin-right:10px;
		    margin-top:18px;
		}
		.floor{
			font-weight:500;
			span{
				margin-left:15px;
			}
		}
		.store_text{
			margin-top:12px;
			margin-bottom:10px;
		}
		.inline{
				display:inline-block;
			}
		.f_text{
			width:440px;
			margin-right:10px;
			margin-top:10px;
			line-height:22px;
		}
	}
}